header {
    height: 50px;
    position: relative;
    border:none;
    border-bottom: 1px solid #aaa;
    background: #fff;
}

.goBack {
    display: block;
    position: absolute;
    width: 44px;
    height: 50px;
    top: 0;
    left: 0px;
    background: url(../img/back.png) no-repeat center;
    background-size: 13px;
}
.auth-name{
}
.auth-name-img{
}
.auth-name-input{
}
.auth-info{
    margin-left: 10px;
    margin-top: 10px;
}
.auth-photo{
}
.auth-photo-left{
    width: 48%;
    float: left;
}
.auth-photo-left-img{
    height: 120px;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}
.auth-photo-middle{
    /*width: 3%;*/
    float: left;
}
.auth-photo-right{
    width: 48%;
    float: right;
}
.auth-photo-right-img{
    height: 120px;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}

.auth-info h4{
    font-size: 15px;
    color: #333333;
}

.auth-info a{
    font-size: 12px;
    color: #999999;
}

.ui-btn-lg-empty{
    background: #cccccc;
    color:#ffffff;
}

.ui-btn-lg-not-empty{
    background: #333333;
    color:#ffffff;
}