.cartbar {
    height: 50px;
}

.ui-btn {
    color: #fff !important;
    padding: 0 10%;
    float: right;
    background: #ccc !important;
    height: 50px;
    line-height: 50px;
}

.total {
    border-top: 1px solid #aaa;
    height: 50px;
}

.total .ui-checkbox-s input:before {
    font-size: 43px;
    line-height: 44px;
    left: 2px;
}

.total .ui-checkbox-s input:checked:before {
    color: #ee3e54;
}