@charset "UTF-8";

body{
  background-color: #eeeeee;
}

.goBack {
  display: block;
  position: absolute;
  width: 44px;
  height: 50px;
  top: 0;
  left: 0px;
  background: url(../img/back.png) no-repeat center;
  background-size: 10px;
}

.content {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 88px;
  background-color: #eeeeee;
}

.div_add_info{
  font-weight: 500;
  padding-left: 15px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 13px;
  display: -webkit-box;
  position: relative;
  background-color: #ffffff;
}

.div_address{
  width: 15px;
  background: url(../img/cart/address.png) center no-repeat;
  background-size: 15px 20px;
  position: absolute;
  top:0;
  left: 15px;
  height: 100%; 
  margin-bottom: 10px;
}

.div_user_info{
  padding-bottom: 11px;
  -webkit-box-flex: 1;
  margin-left: 35px;
  font-weight: normal;
}

.div_name_tel{
  position: relative;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  color: #666666;
}

.div_name{
  /*float: left;*/
}

.div_tel{
  /*float: right;*/
  position: absolute;
  top: 0px;
  right: 0px;
}

.div_add{
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  width: 100%;
}

.div_hor_full{
  width: 100%;
}

.cart_info{
  background-color: #ffffff;
  color: #666666;
  margin-top: 10px;
  padding: 10px;
  line-height: 18px;
  font-size: 12px;
}

.items_info{
  background-color: #ffffff;
  margin-top: 10px;
}

.div_time{
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 13px;
  color: #666666;
  margin-left: 10px;
}

.div_items{
  display: -webkit-box;
  padding: 10px;
  background: #f9f9f9;
}

.item-img{
  height: 75px;
  width: 75px;
  border: 1px solid #cccccc;
}

.item-img-img{
  width: 75px;
  height: 75px;
}

.item_info{
  -webkit-box-flex: 1;
  margin-left: 10px;
}

.item_name_price{
  height: 36px;
}

.item_name{
  width: 185px;
  font-size: 12px;
  color: #666666;
}

.item_price{
  font-size: 11px;
  color: #666666;
  float: right;
}

.item_price_yuan{
  font-size: 13px;
}

.order_size_count{
	font-size: 12px;
	color: #999999;
}

.item_count{
  float: right;
}
.item_count1{
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	text-align: right;
}

.item_lineprice{
  font-size: 11px;
  color: #cd4c5e;
  text-align: right;
}

.item_lineprice_yuan{
   font-size: 13px;
}

.totle_price_info{
  padding: 10px;
  background-color: #fff;
}

.totle_price_item{
  font-size: 12px;
  color: #666666;
  height: 18px;
  line-height: 18px;
}

.totle_price_item_info{
  float: right;
}

.totle_price_agio{
  font-size: 12px;
  color: #666666;
  height: 18px;
  line-height: 18px;
}

.totle_price_agio_info{
  float: right;
}

.totle_price{
  font-size: 13px;
  color: #666666;
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
}

.totle_price_fen{
  float: right;
  color: #cd4c5e;
  font-size: 13px;
  line-height: 20px;
}

.totle_price_yuan{
  font-size: 15px;
}

.div_bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background-color: #f9f9f9;
  height: 44px;
  width: 100%;
  border-top: 1px solid #929292;  
}

.bottom_btn{
  width: 75px;
  height: 30px;
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius:5px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.btn_pay{
  background-color: #ee3e53;
  color: #ffffff;
}

.orders_btn_pay_sure {
  background-color: #ee3e54;
  color: #ffffff;
  border: none;
}

.detail_btn_pay {
  background-color: #ee3e54;
  color: #ffffff;
  border: none;
}

.item_aftersale {
  float: right;
  font-size: 14px;
  color: #666666;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  height: 29px;
  line-height: 29px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 75px;
  text-align: center;
}

header{
  border:0px;
  border-bottom: 1px solid #aaa;
}

.coupon_code{
	background-image: url(../img/coupon_code_left.png);
    background-position: 10px 11px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.coupon_code_message{
	margin-left: 38px;
	margin-bottom: 11px;
}
.couponcode_message_name{
  	font-size: 15px;
    color: #333333;
    padding-top: 10px;
}

.couponcode_message_time_left{
	font-size: 13px;
    color: #666666;
    margin-top: 5px;
}
.couponcode_message_send{
	color: #666666;
    font-size: 13px;
    margin-top: 8px;
}
.redeem_code li{
    margin-left: 28px;
    border-top: 1px solid #cccccc;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.redeem_code li p{
	padding-left: 4px;
    color: #666666;
    font-size: 15px;
}

.redeem_code_nub{
	color: #333333;
    margin-left: 8px;
}
.couponcode_message_time{
	margin-left: 10px;
}

.redeem_qrcode{
	float: right;
    width: 30px;
    height: 30px;
    margin-right: 48px;
    margin-top: 6px;
    background-image: url(../img/redeem_qrcode_but.png);
    background-position: 9px 9px;
    background-size: 73% 73%;
    background-repeat: no-repeat;
}

.redeem_qrcode_img{
	width: 290px;
    height: 290px;
    background-color: #fff;
    z-index: 2;
    margin: 0 auto;
    border-radius: 18px;
    margin-top: 30%;
    background-repeat: no-repeat;
    background-size: 187px 187px;
    background-position: 51px 41px;
    position: relative;
}

.redeem_qrcode_img_use{
	font-size: 12px;
    position: absolute;
    bottom: 20px;
    margin-left: 46px;
    color: #333;
}

.redeem_qrcode_closeBtn{
	width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 55px;
    background-image: url(../img/redeem_qrcode_closeBtn.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
	
}

/* 添加电话号码 */
.div_add_tel{
  background-color: #ffffff;
}
.sel-coupon-tel{
	margin-left: 15px;
	width: 75px;
	color: #666666;
	text-align: right;
	line-height: 55px;
	background: url(../img/settle/sel-coupon-tel.png) left no-repeat;
	-webkit-background-size: 16px;
	background-size: 16px;
	font-size: 0.9em;
}
#telephone{
	margin-left: 42%;
    border: none;
    font-size: 14px;
    color:#333333;
}


/* 客服 */
.kf_btn {
    width: 44px;
    height: 50px;
    background: url(../img/home/call.png) no-repeat center;
    background-size: 18px;
    position: absolute;
    top: -3px;
    right: 8px;
}
