.goBack {
	display: block;
	position: absolute;
	width: 44px;
	height: 50px;
	top: 0;
	left: 0px;
	background: url(../img/back.png) no-repeat center;
	background-size: 10px;
}
.goIndex {
	display: block;
	position: absolute;
	width: 44px;
	height: 50px;
	top: 0;
	right: 0px;
	background: url(../img/index.png) no-repeat center;
	background-size: 25px;
}
.settle-address-icon{
	margin-left: 10px;
	height: 20px;
	vertical-align: middle;
}
.settle-auth-icon{
	margin-left: 15px;
	width: 35px;
	background: url(../img/settle/auth.png) left no-repeat;
	background-size: 15px 20px;
}

.sel-coupon-icon{
	margin-left: 15px;
	width: 75px;
	color: #666666;
	text-align: right;
	line-height: 55px;
	background: url(../img/settle/coupon.png) left no-repeat;
	-webkit-background-size: 19px;
	background-size: 19px;
	font-size: 0.9em;
}

.sel-coupon-tel{
	margin-left: 15px;
	width: 75px;
	color: #666666;
	text-align: right;
	line-height: 55px;
	background: url(../img/settle/sel-coupon-tel.png) left no-repeat;
	-webkit-background-size: 16px;
	background-size: 16px;
	font-size: 0.9em;
}

#telephone{
	margin-left: 42%;
    border: none;
    font-size: 14px;
    color:#333333;
}

.settle-coupon-icon{
	margin-left: 10px;
	height: 20px;
	vertical-align: middle;
}
.settle-product-icon{
	width: 75px;
	height: 75px;
	/*vertical-align: middle;*/
}
.summitBar {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #f9f9f9;
	z-index: 10;
	font-size: 12px;
	height: 50px;
}

.cart_product_name {
	font-size: 12px;
	height: 39px;
	overflow: hidden;
	display: block;
	color: #333;
	line-height: 18px;
}

.item_name {
	margin-right: 65px;
	color: #666666;
}

.order_size_count{
	font-size: 12px;
	color: #999999;
}

.item_count{
	float: right;
}
.item_count1{
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	text-align: right;
}

.item_count_price {
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	text-align: right;
	color: #b35869;
}

.item_info {
	-webkit-box-flex: 1;
}
.summitBar ul{
	border-top: 1px solid #aaa;
}
.summitBar ul li {
	border-left: 1px solid #aaa;
	float: left;
	list-style: none;
	height: 50px;
	text-align: center;
	background-color: #ee3e64;
}

.item_price {
	float: right;
	text-align: right;
	max-width: 65px;
	overflow: hidden;
}

.submit-btn{
	width: 100%;
}
.submit-btn-text{
	line-height: 50px;
	color: white;
	font-size: 17px;
}
div.settle-address-info{
	padding-bottom: 11px;
	-webkit-box-flex: 1;
	margin-left: 35px;
	font-weight: normal;
	font-size: 0.9em;
}
div.settle-auth-info{
	margin-left: 0px;
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}

.settle-auth-info > div {
	margin: 10px 0px;
}

.floor_product_title{
	margin-left: 10px;
}

.add_auth{
	height: 70px;
	line-height: 70px;
}
.ui-border-tb {
	background: none;
	margin-top: 10px;
}

.content {
	background-color: #eee;
	margin-bottom: 50px;
	margin-top: 50px;
}
.ui-border-tb li div h4 {
	padding-left: 10px;
	font-size: 15px;
	color: #333333;
}

.ui-list {
	background-color: #ffffff;
}

.floor_product {
	padding: 0px;
	padding-bottom: 10px;
}

.ui-list-img {
	width: 75px;
	height: 75px;
}

.floor_right{
	font-size: 15px;
	color: #333333;
}

.floor_right_switch{
	width: 50px;
	height: 25px;
	display: block;
	/* line-height: 25px */
}

.floor_right_switch img{
	width: 54px;
    height: 36px;
    margin-top: -4px;
	/* line-height: 25px; */
}

.ui-list li h4 {
	font-size: 12px;
	line-height: 24px;
}
#price_li {
	height: 24px;
	line-height: 24px;
}

#price_li div {
	padding: 0px;
	padding-right: 10px;
}

#price_li2 div {
	padding: 0px;
}

.div_address{
	width: 15px;
	background: url(../img/cart/address.png) center no-repeat;
	background-size: 15px 20px;
	position: absolute;
	top:0;
	left: 15px;
	height: 100%;
	margin-bottom: 10px;
}

.div_add_info{
	font-weight: 500;
	padding-left: 15px;
	padding-top: 13px;
	padding-right: 35px;
	padding-bottom: 13px;
	display: -webkit-box;
	position: relative;
	background-color: #ffffff;
	-webkit-box-flex: 1;
}

.div_name_tel{
	position: relative;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	color: #666666;
}

.div_name{
}

.div_tel{
	position: absolute;
	top: 0px;
	right: 0px;
}

.div_add{
	font-size: 14px;
	line-height: 18px;
	color: #666666;
	width: 100%;
	margin-top: 10px;
}

#coupon {
	font-size: 15px;
	color: #666666;
	height: 30px;
	text-align: right;
	line-height: 30px;
	padding-left: 0px;
}

.floor_product_tap {
	padding: 10px;
	font-size: 13px;
	background-color: #ffffff;
	color: #666666;
}
.floor_product_shopName{
	background-color: #ffffff;
    background-image: url(../img/coupon_code_left.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 10px 10px;
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #e7e7e7;
}
.floor_product_name{
	margin-left: 32px;
    line-height: 39px;
    font-size: 14px;
    background-color: #ffffff;
    color: #666666;
}
.floor_product > ul {
	background-color: #f9f9f9;
	padding-top: 1px;
	padding-bottom: 1px;
	height: auto;
}
.floor_product > ul > li {
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	margin: 10px;
}


header h1 {
	line-height: 50px;
	font-size: 18px;
	color: #333333;
}

header {
	border: none;
	border-bottom: 1px solid #cccccc;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0px;
}

.ui-list-link > li:after {
	content: "";
	width: 7px;
	height: 100%;
	background: url("../img/address/input.png") center no-repeat;
	background-size: 7px;
	top: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
div.rules{
	font-size: 14px;
	line-height: 18px;
	color: #666;
	width: 100%;
	padding-left: 20px;
}
.ui-border-top {
	border-top: 1px solid #e7e7e7;
	padding-left: 10px;
	width: auto;
}

#totalPayments {
	color: #eb3f4d;
}

.product-price {
	font-size: 13px;
}

.product-price1 {
	font-size: 15px;
}

.div_not_certified {
	transform: translate3d(0,4px,0);
	display: inline-block;
	width: 39px;
	height: 100%;
	background: url("../img/settle/notcertified.png") center no-repeat;
	background-size: 39px 16px;
}

.div_tip_bg {
	display: none;
	position: fixed;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	opacity: 0.8;
	z-index: 999;
	background-color: rgb(11, 10, 10);
}

.div_add_address {
	color: #666666;
	margin-top: 15px;
	line-height: 1px;
}

.div_tip {
	 display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 999;
	/*overflow: hidden;*/
}

.div_title {
	font-size: 17px;
	color: #ffffff;
	line-height: 43px;
	height: 43px;
	background-color: #000000;
	text-align: center;
}

div.div_tip div.div_desc {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	text-align: left;
	position: relative;
	text-indent: 2em;
	background: url(../img/imp_icon.png) no-repeat 13px 16px;
	background-size: 10px;
}
div.div_tip div.div_desc #closeBtn{
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/closeBtn.png) no-repeat center;
	background-size: contain;
	position: absolute;
	top: -28px;
	right: 10px;
}
div.div_auth_info {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	margin-left: 10px;
}

div.div_auth_info div{
	font-size: 15px;
	color: #999;
	font-weight: bold;
	display: inline-block;
}

div.div_auth_info div:last-child{
	margin-left: 12px;
	width: 183px;
}

div.div_auth_info input{
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #333333;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #333333;
	border: none;
	font-weight: normal;
}

div.name_info{
	margin: 0px 15px;
}

div.num_info {
	padding: 0px 15px;
}

.div_btn_opt {
	height: 49px;
}

.div_btn_opt > div,.div_btn_opt > a {
	display: inline-block;
	line-height: 49px;
	text-align: center;
	font-size: 15px;
	width: 100%;
	background: #ccc;
}

#cancel_submit {
	color: #333333;
	border-right: 1px solid #cccccc;
}

#submit_auth {
	color: #fff;
}
.rz_tips{
	font-size: 15px;
	color: #999;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 10px;
	padding-right: 10px;
}
.clearfl{
	clear: both;
}
.imgItem{
	float: left;
	margin: 5%;
	width: 40%;
	/*background: url("../img/address/upload.png") no-repeat;*/
	background-size: 100%;
}
.imgItem img{
	width:100%;
}
#submit_auth.onClick{
	background: #ec3f53;
}
.floor_product .ui-list-one{
	margin-top:0px;
}
.settle-list{
	background: #eee;
}
.floor_product .floor_freight .ui-list{
	padding:10px 0px;
}


/* 叉叉按钮 */
.div_clear_input1 {
	position: absolute;
	right: 10px;
	top: 0px;
	bottom: 0px;
	width: 15px;
	background: url("../img/classify/clear-a.png") center no-repeat;
	background-size: 15px;
	display: none;
}

.div_clear_input1:active {
	background: url("../img/classify/clear-a.png") center no-repeat;
	background-size: 15px;
}