.div_xgcoin{
	height:	185px;
	background: #ec6273;	
	position: relative;
}

.content{
    margin-bottom: 101px;
    background-color: #eeeeee;
    width: 100% ! important;
}

.goBack {
    display: block;
    position: absolute;
    width: 44px;
    height: 100%;
    top: 0;
    left: 0px;
    background: url(../img/back.png) no-repeat center;
    background-size: 10px;
}

/* .goBack_wx {
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 15px;
    left: 15px;
    background: url(../img/shop_detail_back.png) no-repeat center;
    background-size: 100%;
    z-index: 99;
} */

.header_wx{
	display:none;
}

.click{
	display: block;
	position: absolute;
	width:100px;
	height:40px;	
    z-index: 99;
    right:0;
    top:0;
}

.goHelp_wx{    
    background: url(../img/goHelp_wx.png) no-repeat right center;
    background-size: 18px;
    color:#fff;  
    font-size:12px;
    line-height:40px;
    margin-right:10px;
    text-align: right;
    padding-right: 26px;
}

.div_xgcoin_img{
	width:96px;
	height: 125px;
	position:absolute;
	top: 34px;
	left: 20px;	
}

.div_xgcoin_name{
	font-size:15px;
	color: #ffffff;
	margin-left: 159px;
	padding-top: 45px;
	font-weight: 900;
}

.div_xgcoin_nmb{
	font-size:48px;
	color: #ffffff;
	margin-left: 159px;
	text-shadow: #ee3e54 3px 4px 2px;
}

.div_xgcoin_desc{
	width: 154px;
	height: 20px;
	text-align: center;
	background-color:  #EE3E54 ;
	border-radius: 80px;
	font-size:13px;
	color:#FFC6CD;
	margin-left: 159px;
}

.div_name_desc {
	margin-left: 10px;
    height:44px;
    line-height:44px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.div_name_img{
	width:20px;
	height:20px;
	position:absolute;
	left:0;
	top:11px;
}

.div_desc{
	font-size:14px;
	color:#999999;
	margin-left: 28px; 
}

.ui-btn {
    color: #fff !important;
    padding: 0 10%;
    float: right;
    background: #ee3e54 !important;
    height: 50px;
    line-height: 50px;
}

.total {
    border-top: 1px solid #cccccc;
    height: 50px;
}

.total .ui-checkbox-s input:before {
    font-size: 38px;
    line-height: 44px;
    left: 2px;
}

.cart_tip {
    font-size: 12px;
    color: #999999;
    background: url("../img/cart/tip_point.png") 5px 15px no-repeat;
    background-size: 8px 8px;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

.ui-checkbox-s {
    padding-left: 8px;
}

.ui-checkbox-s input:checked:before {
    color: #ee3e54;
}

.ui-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
}

.div_check_box {
    width: 35px;
}

#cart-list {
    background-color: #eeeeee;
}

#cart-list > li {
    background-color: #ffffff;
    margin-top: 10px;
}

#cart-list > li:first-child
{
    margin-top: 0;
}

.ui-border-t {
    /*padding: 0px 10px;*/
}

.div_item_channel {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding-left: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.div_sel_channel_info {
    overflow: hidden;
    padding: 10px 10px;
}

.div_sel_channel_info div {
    line-height: 22px;
    font-size: 12px;
}

.sel-count {
    color: #333333;
    float: left;
    padding-left: 35px;
}

.sel_info{
    float: right;
    width: 95px;
}

.sel_info_tax {
    color: #999999;
}

.sel_info_price {
    color: #333333;
}

.sel_info span {
    float: right;
}

.ui-list-info {
    padding: 0px 10px;
}

.ui-list-item-info {
    -webkit-box-flex: 1;
    display: -webkit-box;
    padding: 10px 0;
    margin-left: 10px;
}

.ui-list div.ui-list-item-info {
    border-bottom: 1px solid #e8e8e8;
}

/*.ui-list li:last-child div.ui-list-item-info {*/
/*border-bottom: none;*/
/*}*/

.ui-list-link > li:after {
    font-size: 0;
}

.ui-list-img > span {
    padding-top: 100%;
}

.ui-list-img {
    margin: 0;
    padding: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    width: 90px;
    height: 90px;
}

div.ui-list-img img{
    width: 100%;
    height: 100%;
}

.ui-list-img-gray1 {
    position: relative;
}

.ui-list-img-gray1:after{
    content: '库存不足';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 16px;
    background-color: rgba(102, 102, 102, 0.4);
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
}

.ui-list-img-gray2 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 16px;
    background-color: rgba(102, 102, 102, 0.4);
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
}

.cart_product_name a {
    font-size: 12px;
    height: 39px;
    overflow: hidden;
    display: block;
    color: #333;
    padding-right: 35px;
}

.ui-list li h4 {
    font-size: 12px;
    line-height:18px;
    color:#333333;
}

.ui-nowrap {
    -webkit-box-flex: 1;
}

.cart_product_spe {
    font-size: 12px;
    color: #999999;
    -webkit-box-flex: 1;
}

.cart_shop_opt {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 92px;
    float: left;
    position: relative;
    font-size:16px;
    color:#666666;
}

.quantity_decrease {
    width: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#666666;
}

.quantity_increase {
    width: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#666666;
}
.disabled {
    color: #cccccc;
}
.numbox {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 92px;
    float: left;
    position: relative;
}

.numbox span {
    width: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.numbox input {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-width: 0 1px;
}
.car_item {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #ddd;
    border-width: 0 1px;
}
.product-price {
    float: right;
    margin-right: 10px;
    color: #EE3E54;
    font-size:13px;
    line-height:30px;
    height:30px;
}
.product-price1 {
    font-size: 15px;
}
.ui-list-info{
    padding-right: 0 !important;
}
.delete{
    position: absolute;
    right:10px;
    width: 12px;
    height: 12px;
    display: block;
}

.delete img {
    width: 100%;
    height: 100%;
    display: block;
}

.delete_span {
    position: absolute;
    right: 30px;
    width: 1px;
    height:12px;
    background-color: #cccccc;
    /*top: 5px;*/
}
.ui-reddot-border:after{
    left: 12px;
    top:20px;
    border: 1px solid #E07979;
}
.ui-reddot-border{
    padding:15px 0 0 30px;
}
.ui-reddot-border p{
    font-size: 14px;
    color: #999;

}
header h1{
    font-size: 18px;
    color: #333;
    line-height: 50px;
    height: 50px;
}

header #help a{
	font-size: 13px;
    color: #333;
    line-height: 50px;
    height: 50px;
    position: absolute;
    right:15px;
    top:0;
    width: 52px;
}

.lose_taps {
    width: 74px;
    height: 15px;
    line-height: 15px;
    background-color: #4E4242;
    color: #EAE2E2;
    /*border-radius: 12px;*/
    text-align: center;
    /* position: absolute; */
    bottom: 5px;
    font-size: 5px;
}

.cart-body {
    font: 1.2rem/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,sans-serif;
    color: #333;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border: none;
    border-bottom: 1px solid #aaa;
    position: relative;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,sans-serif;;
}

.u-btn-disab {
    background: #c1c1c1;
    color: #fff;
    cursor: default;
    padding: 0 10%;
    float: right;
    background: #ee3e54 !important;
    height: 50px;
    line-height: 50px;
}

header .cart-body {
    border: none;
    border-bottom: 1px solid #aaa;
}

.cartnull{
    background: #eeeeee;
}

.ui-btn-primary:before {
    border: none;
}
.split_bg {
    width: 100%;
    margin-top: -1px;
}

.ui-reddot-border:before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
}

.car_invalid {
    display: none;
    background-color: #eeeeee;
    padding-top: 25px;
}

.car_invalid_title {
    margin-bottom: 20px;
    height: 14px;
    background: url("../img/cart/invalidTitle.png") center no-repeat;
    background-size: 112px;
}

#cart-invalid-list {
    background-color: #eeeeee;
}

#cart-invalid-list li{
    padding: 10px 0;
    background: none;
    position: relative;
}

#cart-invalid-list li:after {
    content: "";
    position: absolute;
    left: 35px;
    right: 0px;
    bottom: 0px;
    height: 1px;
    top: auto!important;
    background-color: #cbcbcb;
}

#cart-invalid-list li:last-child:after {
    height: 0px;
}

.invalid_label {
    width: 45px;
    background: url("../img/cart/invalid_label.png") left no-repeat;
    background-size: 40px;
    margin-left: -10px;
}
.product-invalid-price {
    float: left;
    color: #999999;
    font-size:13px;
    line-height:30px;
    height:30px;
}

.decrease {
    width: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.increase {
    width: 30px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.warm_tip {
    height: 105px;
    background: url("../img/cart/tip.png") center no-repeat;
    background-size: auto 105px;
}

.product-item{
	margin-left:10px;
	width:96%;
	height:80px;
	border-bottom: 1px solid #e8e8e8;	
}

.product-left-name{
	font-size:14px;
	color:#333333;
	padding-top:9px;
	/* font-weight:900; */
}

.product-left-nmb{
	font-size:11px;
	color:#999999;
}

.product-left-date{
	font-size:11px;
	color:#cccccc;
}

.xg_plus{
	float: right;
	font-size: 16px;
	margin-right: 20px;
	color: #ee3e54;
}

.xg_minus{
	float: right;
	font-size: 16px;
	margin-right: 20px;
	color:#666666;
}

.xg_zy{
	float: right;
	font-size: 16px;
	margin-right: 20px;
	color:#666666;
}

.xg_pay{
	width:160px;
	height:80px;
	position:fixed;
	bottom:17px;
	left:32%;
	z-index:99999;
}

.xg_pay img{
	width:100%;
}

.xg_pay_change{
	-webkit-animation:animation 0.4s ease-in-out forwards;
    -moz-animation:animation 0.4s ease-in-out forwards;
    animation:animation 0.4s ease-in-out forwards;
}

@-webkit-keyframes animation{
    from{
        width:160px;
    }
    to{
        width:150px;
    }
}
@-moz-keyframes animation{
   from{
        width:160px;
    }
    to{
        width:150px;
    }
}
@keyframes animation{
    from{
        width:160px;
    }
    to{
        width:150px;
    }
}

.xg_pay_change1{
	-webkit-animation:animation1 0.4s ease-in-out forwards;
    -moz-animation:animation1 0.4s ease-in-out forwards;
    animation:animation1 0.4s ease-in-out forwards;
}

@-webkit-keyframes animation1{
    from{
        width:150px;
    }
    to{
        width:160px;
    }
}
@-moz-keyframes animation1{
   from{
        width:150px;
    }
    to{
        width:160px;
    }
}
@keyframes animation1{
    from{
        width:150px;
    }
    to{
        width:160px;
    }
}

.coin_pay{
	overflow:hidden;
	width:100%;
	height:667px;
	position:absoluted;
	top:150000px;
	display:none;
	background:url(../img/xg_pay/xg_bg.png) no-repeat center;
	background-size:100%;
	-webkit-animation:animations 0.2s ease-in-out forwards;
    -moz-animation:animations 0.2s ease-in-out forwards;
    animation:animations 0.2s ease-in-out forwards;
    z-index:9999999;
}

@-webkit-keyframes animations{
    from{
        top:150000px;
    }
    to{
        top:0;
    }
}
@-moz-keyframes animations{
    from{
        top:150000px;
    }
    to{
        top:0;
    }
}
@keyframes animations{
    from{
        top:150000px;
    }
    to{
        top:0;
    }
}


.out{
	-webkit-animation:animations1 0.2s ease-in-out forwards;
    -moz-animation:animations1 0.2s ease-in-out forwards;
    animation:animations1 0.2s ease-in-out forwards;
}

@-webkit-keyframes animations1{
    from{
        top:0;
    }
    to{
        top:150000px;
    }
}
@-moz-keyframes animations1{
    from{
        top:0;
    }
    to{
        top:150000px;
    }
}
@keyframes animations1{
    from{
        top:0;
    }
    to{
        top:150000px;
    }
}

.coin_pay_header{
	width:100%;
	height:50px;
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:50px;
	position:absolute;
	top: 0px;
}

.coin_pay_header h1{
	display:block;
}

.go_Back{
    width: 19px;
    height: 14px;
    float: left;
    background: url(../img/xg_pay/go_back.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 12px;
    top: 19px;
}

.pay_content_title{
	color:#fff;
	margin-top:64px;
	font-size:17px;
	margin-left:20px;
}

.open_code{
	width:90%;
	height:363px;
	background:#fff url(../img/xg_pay/open_code.png) no-repeat center 27px;
	background-size: 235px 230px;
	border:1px solid #fff;
	border-radius:12px;
	margin:0 auto;
	margin-top:11px;
	text-align:center;
}

.tips{
	margin-top:270px;
	color:#bbb;
	font-size:15px;
}

.btn{
	display: block;
	width:94%;
	height:44px;
	margin:0 auto;
	border-radius:6px;
	margin-top:10px;
}

.btn img{
	width:100%;
}

.btn_change{
	-webkit-animation:animations2 0.4s ease-in-out forwards;
    -moz-animation:animations2 0.4s ease-in-out forwards;
    animation:animations2 0.4s ease-in-out forwards;
}

@-webkit-keyframes animations2{
    from{
        width:100%;
    }
    to{
        width:90%;
    }
}
@-moz-keyframes animations2{
    from{
        width:100%;
    }
    to{
        width:90%;
    }
}
@keyframes animations2{
     from{
        width:100%;
    }
    to{
        width:90%;
    }
}

.btn_change1{
	-webkit-animation:animations3 0.4s ease-in-out forwards;
    -moz-animation:animations3 0.4s ease-in-out forwards;
    animation:animations3 0.4s ease-in-out forwards;
}

@-webkit-keyframes animations3{
    from{
        width:90%;
    }
    to{
        width:100%;
    }
}
@-moz-keyframes animations3{
     from{
        width:90%;
    }
    to{
        width:100%;
    }
}
@keyframes animations3{
     from{
        width:90%;
    }
    to{
        width:100%;
    }
}

.close{
	width:100%;
	height:50px;
	background:url(../img/xg_pay/line.png) no-repeat center top;
	background-size:90%;
	position:absolute;
	top:617px;
	line-height:62px;
	text-align:center;
}

.close img{
	width:20px;
	height:25px;
}

.close_change{
	-webkit-animation:animations4 0.4s ease-in-out forwards;
    -moz-animation:animations4 0.4s ease-in-out forwards;
    animation:animations4 0.4s ease-in-out forwards;
}

@-webkit-keyframes animations4{
    from{
        width:20px;
		height:25px;
    }
    to{
        width:15px;
		height:20px;
    }
}
@-moz-keyframes animations4{
     from{
        width:20px;
		height:25px;
    }
    to{
        width:15px;
		height:20px;
    }
}
@keyframes animations4{
     from{
        width:20px;
		height:25px;
    }
    to{
        width:15px;
		height:20px;
    }
}

.close_change1{
	-webkit-animation:animations5 0.4s ease-in-out forwards;
    -moz-animation:animations5 0.4s ease-in-out forwards;
    animation:animations5 0.4s ease-in-out forwards;
}

@-webkit-keyframes animations5{
    from{
        width:15px;
		height:20px;
    }
    to{
        width:20px;
		height:25px;		
    }
}
@-moz-keyframes animations5{
     from{
        width:15px;
		height:20px;
    }
    to{
        width:20px;
		height:25px;		
    }
}
@keyframes animations5{
     from{
        width:15px;
		height:20px;
    }
    to{
        width:20px;
		height:25px;		
    }
}

.pay_content_code{
	display:none;
	width:90%;
	height:337px;
	background:#fff;
	border:1px solid #f8f8f8;
	border-radius:12px;
	margin:0 auto;
	margin-top:85px;
	text-align:center;
	background:#f8f8f8;
}

.xg_coinshow{
	width:37px;
	height:37px;
	position:absolute;
	top:66px;
	left:172px;
}

.bar{
	background:#fff;
	padding-bottom:15px;
}

.pay_content_code .bar{
	background: #fff;
    padding-bottom: 7px;
    padding-top: 19px;
    border-radius: 12px;
}

.bar_code{
	height:75px;
	width:78%;
	margin:0 auto 10px;
}

.bar_code_nub{
	color:#333;
	font-size:13px;
}

.qr{
	width:100%;
	text-align:center;
}

.qr_code{
	width:160px;
	height:160px;
	margin:14px auto 10px;
}

.qr_tips{
	color:#999;
	font-size:13px;
}

.eg{
	width:115px;
	height:15px;
	margin:0 auto;
	margin-top:15px;
}

.seagoor{
	width: 29px;
	position:absolute;
	top: 295px;
}
/*  @media screen and (min-width: 320px) and (max-width: 330px)  {
	.pay_content_title {
	    margin-top: 60px;
	}
	.open_code {
	    height: 278px;
	    background-size: 191px 155px;
	    margin-top: 5px;
	}
	.tips {
	    margin-top: 191px;
	}
	.pay_content_code {
	    height: 282px;
	    margin-top: 80px;
	}
	.xg_coinshow {
	    top: 61px;
	}
	.bar_code {
	    height: 54px;
	    width: 72%;
	}
	.pay_content_code .bar {
	    padding-bottom: 4px;
	}
	.qr_code {
	    width: 130px;
	    height: 130px;
	    margin: 11px auto 10px;
	}
	.seagoor {
	    top: 256px;
	}
}

@media screen and (min-width: 385px) and (max-width: 414px)  {
	.pay_content_code .bar {
	    padding-bottom: 10px;
	}
	.bar_code {
	    height: 80px;
	}
	.pay_content_code{
		height:346px;
	}
}
@media screen and (min-width: 415px) and (max-width: 767px)  {
	.bar_code {
	    height: 85px;
	}
	.pay_content_code .bar {
	    padding-bottom: 10px;
	}
	.pay_content_code {
	    height: 395px;
	}
	.bar_code_nub {
	    font-size: 15px;
	}
}

@media screen and (min-width: 768px)  {
	h1 {
	    font-size: 36px;
	}
	.go_Back {
	    width: 33px;
	    height: 20px;
	    background-size: 92%;
	    top: 32px;
	}
	.coin_pay_header {
	    height:78px;
	    line-height: 78px;
	}
	.pay_content_title {
	    font-size: 34px;
	}
	.open_code {
	    height: 610px;
	    background-size: 60%;
	}
	.tips {
	    margin-top: 447px;
	    font-size:21px;
	}
	.pay_content_code {
	    height: 630px;
	    margin-top: 180px;
	}
	.xg_coinshow {
	    width: 74px;
	    height: 74px;
	    top: 142px;
	}
	.bar_code {
	    height: 156px;
	    margin: 25px auto 10px;
	}
	.bar_code_nub {
	    font-size: 26px;
	}
	.qr_code {
	    width: 290px;
	    height: 290px;
	}
	.qr_tips {
	    font-size: 20px;
	}
	.eg {
	    width: 230px;
	    height: 30px;
	    margin-top: 52px;
	}
	}
	.seagoor {
	    width: 40px;
	    top: 529px;
	}
} */

