@charset "UTF-8";

.basic-body{
	font: 1.2rem/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,sans-serif;
    color: #333;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border: none;
    border-bottom: 1px solid #929292;
}

header h1{
    font-size: 18px;
    color: #333;
    line-height: 50px;
    height: 50px;
}

header .basic-body {
    border: none;
    border-bottom: 1px solid #929292;
}
.content-info {
    margin-top: 50px;
    background:#ffffff;
}

.goBack {
  display: block;
  position: absolute;
  width: 44px;
  top: 0;
  left: 0px;
  background: url(../../img/back.png) no-repeat center;
  background-size: 13px;
}

.line-split{
	margin-top: 50px;
}

.line-div{
  background-color:#eeeeee;
  width:100%; 
}

.sep-div{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color:#999999;
    font-size:14px;   
    line-height: 15px;
    height:15px;
}

.li-div{
	/*width: 100%;*/
	background:#ffffff;
}

.div-avtar{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 20px;
    font-size:15px;   
    line-height:50px;
    height:50px;
    display: -webkit-box;
    border-top: 1px solid #e8e8e8;
}
.div-avtar >.avtar-info{
	-webkit-box-flex: 1;
	line-height:50px;
	height:50px;
	font-size:15px; 
	color:#666666;	
}
.div-avtar >.avtar-img{
	height:50px;
	width:50px;
}

.div-normal{
	padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 15px;
    margin-left: 20px; 
    line-height:20px;
    height:20px;
    /*display: -webkit-box;*/
    border-top: 1px solid #e8e8e8;
}

.div-normal >.normal-key{
	line-height:20px;
	height:20px;
	font-size:15px;
	color:#343434;
    float: left;
}
.div-normal >.normal-val{
	line-height:20px;
	height:20px;
	font-size:14px;
	color:#999;
    float: right;
}
.normal-val{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: right;
}
.notBound .normal-key{
    text-indent: 0px;
}
.scanCode .basic-body{
    height: 180px;
    background-color: #3e444f;
    position: relative;
    color: #fff;
}
.scanCode header h1{
    color: #fff;
}
.scanCode .goBack{
    background: url(../img/back.png) no-repeat center;
    background-size: 10px;
}
.scanCode .line-split{
    margin-top: 185px;
}
.qrtip {
    height: 20px;
    line-height: 20px;
    color: #586378;
    font-size: 16px;
    margin-bottom: 15px;
}
.qrtipimg {
    background: url(../../img/dss/qrtip.png) no-repeat center;
    background-size: 20px 16px;
    float: left;
    width: 20px;
    height: 20px;
}
.scanCode .div_dsslogo {
    width: 100%;
    height: 210px;
    text-align: center;
    background: url(../../img/dss/qrbg.png) no-repeat center;
    background-size: 210px;
}