.content-info{
	background:#3e444f;
	margin-top:50px;
	width:100%;
	max-width: 16400px;
}

body{
	background:#eeeeee;
}

.main-body{
    color: #333;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    background:#3e444f; 
}

.goBack {
  display: block;
  position: absolute;
  width: 44px;
  height: 50px;
  top: 0;
  left: 0px;
  background: url(../img/back.png) no-repeat center;
  background-size: 13px;
}

.main-info{
	padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;  
    line-height: 80px;
    height:80px;
    margin-top:50px;
    background:#3e444f;
    position: absolute;
    width:100%;
    display: -webkit-box;
}

.main-info > .main-avtar{
	height:80px;
	width:80px;
	margin-right:20px;
}

.main-info > .main-avtar >.main-avtarimg{
	height:80px;
	width:80px;
}

.main-info > .main-title{
	-webkit-box-flex: 1;
}

.main-info > .main-title > .dss-name{
	line-height: 20px;
    height:20px;
    font-size:15px;
	color:#ffffff;	
}

.main-info > .main-title > .main-normal{
	line-height: 54px;
    height:54px;
}

.main-info > .main-title > .main-normal > .user-info{
	line-height: 34px;
    height:34px;
    font-size:15px;
	color:#ffffff;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .user-info > .info-div{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info{
	line-height: 20px;
    height:20px;
    font-size:12px;
	color:#586378;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-text{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img{
	padding-right:10px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img > .auth-imgsize{
	height:16px;
	width:24px;
}

.pass_btn {
	width: 122px;
    height: 34px;
    line-height: 34px;
    background: #ffffff;
    font-size: 15px;
    background-color: #3e444f;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 17px;
    color:white;
    text-align:center;
}

.pass_btn:active {
	background-color: #25282f;
	border: 1px solid white;
	color:white;
}

.money-info{
	background:#e8e8e8;
	width:100%;
	margin-top:162px;
}

.money-info > .money-income{
	background: url(../img/income.png) no-repeat center;
	background-color:transparent;
	height:126px;
	display: -webkit-box;
	background-size: 100% 100%;
}

.money-info > .money-income > .money-box{
	margin-top:34px;
	margin-bottom:45px;
	-webkit-box-flex: 1;
}

.money-info > .money-income > .money-split{
	margin-top:39px;
	margin-bottom:39px;
	border-left: 1px solid #e8e8e8;
	width:1px;
	-webkit-box-flex: 0;
}

.money-info > .money-income > .money-box > .money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
}
.money-info > .money-income > .money-box > .money-number{
	font-size:25px;
	color:#333;
	text-align:center;
}

.money-withdraw{
	height:34px;
	margin-top:-23px;
}

 .withdraw-button{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #ee3e54;
}

 .withdraw-button-grey{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #cccccc;
}

.withdraw-button:active{
	background-color: rgba(238,62,84,0.6);
	color:white;
}

.withdraw-button-disable{
	width: 32%;
    height: 34px;
    background: #ee3e54;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
}

.withdraw-div{	
	width:75px;
	height:34px;
	line-height:34px;
	margin:auto;
	display: -webkit-box;
}

.withdraw-disable{	
	width:50%;
	height:34px;
	margin-left:auto;
	margin-right:auto;
	background:#cccccc;
}

.btnicon{
	width:15px;
	height:15px;	
}

.withdraw-div > img {
	display:block;
	margin-top:9px;
	margin-right:8px;
}

.ui-tiled{
	padding-top:10px;
	padding-bottom:10px;
}

.income-info{
	padding: 20px 0;
	background-color: #e8e8e8;
}

.income-item-box {
	-webkit-box-flex: 1;
	height: 75px;
	margin: auto;
}

.income-item-line{
	border-right: 1px solid #cccccc;
}

.money-account{
	background:#e8e8e8;
	height:75px;
	padding-bottom:10px;
	display: -webkit-box;
}

.money-box{
	margin-top:29px;
	margin-bottom:22px;
	-webkit-box-flex: 1;
}

.money-split1{
	border-right: 1px solid #cccccc;
}

.money-split{
	margin-top:32px;
	margin-bottom:25px;
	border-left: 1px solid #cccccc;
	width:1px;
	-webkit-box-flex: 0;
}

.money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
}

.money-number-black{
	font-size:17px;
	color:#333333;
	text-align:center;
}

.money-number{
	font-size:17px;
	color:#999999;
	text-align:center;
}

.operation-list{
	background-color: #ffffff;
}

.operation-list > .operation-item{
  width: 49.6%;
  float: left;
  background:#ffffff;  
  border-left:1px solid #eeeeee;
}

.operation-bottom-split{
	border-bottom:1px solid #eeeeee;	
}

.operation-list > .operation-item:active{
	background-color: #eeeeee;
}

.operation-item-split{
	float: left;
	border-right:1px solid #eeeeee;
	width:1px;
	min-height:136px;
}

.operation-list > .operation-item > .operation-item-box{
  width: 80px;
  margin:0 auto;
  margin-top:20%;
  margin-bottom:20%;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-account{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-order{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-partner{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-shop{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-text{
	height:20px;
	font-size:13px;
	color:#666666;
	margin-top:15px;
	text-align:center;
	line-height:20px;
}

.yrz .auth-text {
	color: #fff;
}
