body{
	background:#eeeeee;
}

.content-info{
	background:#3e444f;
	margin-top:50px;
	width:100%;
	max-width: 16400px;
}

.main-body{
    color: #333;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    background:#3e444f; 
}

.goBack {
  display: block;
  position: absolute;
  width: 44px;
  height: 50px;
  top: 0;
  left: 0px;
  background: url(../img/back.png) no-repeat center;
  background-size: 10px;
}

.main-info{
	margin-top:50px;
	padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;  
    line-height: 80px;
    height:80px;
    background:#3e444f;
    position: absolute;
    width:100%;
    display: -webkit-box;
}

.main-info > .main-avtar{
	height:80px;
	width:80px;
	margin-right:20px;
}

.main-info > .main-avtar >.main-avtarimg{
	height:80px;
	width:80px;
}

.main-info > .main-title{
	-webkit-box-flex: 1;
}

.main-info > .main-title > .dss-name{
	line-height: 20px;
    height:20px;
    font-size:15px;
	color:#ffffff;	
}

.main-info > .main-title > .main-normal{
	line-height: 54px;
    height:54px;
}

.main-info > .main-title > .main-normal > .user-info{
	line-height: 34px;
    height:34px;
    font-size:15px;
	color:#ffffff;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .user-info > .info-div{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info{
	line-height: 20px;
    height:20px;
    font-size:12px;
	color:#586378;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-text{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img{
	padding-right:10px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img > .auth-imgsize{
	height:16px;
	width:24px;
}

/* .pass_btn {
	width: 50px;
    height: 60px;
    line-height: 34px;
    background: #ffffff;
    font-size: 15px;
    background-color: #3e444f;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 17px;
    color:white;
    text-align:center;
    position:absolute;
    top:22px;
    right:0;
}

.pass_btn img{
	width:100%;
} */

/* .pass_btn:active {
	background-color: #25282f;
	border: 1px solid white;
	color:white;
} */

.money-info{
	background:#e8e8e8;
	width:100%;
	/* margin-top:162px; */
}

.money-info > .money-income{
	background: url(../img/income.png) no-repeat center;
	background-color:transparent;
	height:114px;
	display: -webkit-box;
	background-size: 100% 100%;
}

.money-info > .money-income > .money-box{
	margin-top:8px;
	margin-bottom:45px;
	-webkit-box-flex: 1;
}

.money-info > .money-income > .money-split{
	margin-top:10px;
	margin-bottom:59px;
	border-left: 1px solid #e8e8e8;
	width:1px;
	-webkit-box-flex: 0;
}

.money-info > .money-income > .money-box > .money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
}
.money-info > .money-income > .money-box > .money-number{
	font-size:25px;
	color:#333;
	text-align:center;
}

.money-withdraw{
	height:34px;
	margin-top:-26px;
}

 .withdraw-button{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #ee3e54;
}

 .withdraw-button-grey{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #cccccc;
}

.withdraw-button:active{
	background-color: rgba(238,62,84,0.6);
	color:white;
}

.withdraw-button-disable{
	width: 32%;
    height: 34px;
    background: #ee3e54;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
}

.withdraw-div{	
	width:75px;
	height:34px;
	line-height:34px;
	margin:auto;
	display: -webkit-box;
}

.withdraw-disable{	
	width:50%;
	height:34px;
	margin-left:auto;
	margin-right:auto;
	background:#ee3e54;
}

.btnicon{
	width:15px;
	height:15px;	
}

.withdraw-div > img {
	display:block;
	margin-top:9px;
	margin-right:8px;
}

.money-info > .money-account{
	background:#e8e8e8;
	height:69px;
	z-index:-1;
	display: -webkit-box;
}

.money-info > .money-account > .money-box{
	margin-top: 13px;
	margin-bottom: 29px;
	-webkit-box-flex: 1;
}

.money-info > .money-account > .money-split{
	margin-top: 17px;
	margin-bottom: 16px;
	border-left: 1px solid #cccccc;
	width: 1px;
	-webkit-box-flex: 0;
}

.money-info > .money-account > .money-box > .money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
	margin-bottom: 5px;
}

.money-info > .money-account > .money-box > .money-number-black{
	font-size:17px;
	color:#333333;
	text-align:center;
}

.money-info > .money-account > .money-box > .money-number{
	font-size:17px;
	color:#999999;
	text-align:center;
}

.operation-list{
	background-color: #ffffff;
}

.operation-list > .operation-item{
  width: 33%;
  float: left;
  background:#ffffff;  
  border-left:1px solid #eeeeee;
}

.operation-bottom-split{
	border-top:1px solid #eeeeee;
}

.operation-list > .operation-item:active{
	background-color: #eeeeee;
}

.operation-item-split{
	float: left;
	border-right:1px solid #eeeeee;
	width:1px;
	min-height:136px;
}

.operation-list .operation-item .operation-item-box{
  width: 80px;
  margin:0 auto;
  margin-top:15%;
  margin-bottom:14%;
}

.operation-item-img{
	height:33.5px;
	width:auto;
	margin: 0 auto;
    display: block;
}

/* .operation-list .operation-item  .operation-item-box .operation-item-img-order{
	height:33.5px;
	width:auto;
	margin: 0 auto;
    display: block;
}

.operation-list  .operation-item  .operation-item-box .operation-item-img-partner{
	height:33.5px;
	width: auto;
	margin: 0 auto;
    display: block;
}

.operation-list .operation-item  .operation-item-box  .operation-item-img-shop{
	height:33.5px;
	width: auto;
	margin: 0 auto;
    display: block;
} */

.operation-list .operation-item .operation-item-box .operation-item-text{
	height:20px;
	font-size:13px;
	color:#666666;
	margin-top:15px;
	text-align:center;
	line-height:20px;
}
.yrz .auth-text{
	color:#fff;
}
.wrz .auth-text{
	color:#586378;
}
.top_menu{
	position: absolute;
	top: 0px;
	right: 5px;
	width: 50px;
	height: 50px;
	background: url(../img/top_btn.png) no-repeat right;
	background-size: 150px;
}
.top_menu a{
	width: 50px;
	height: 50px;
	display: inline-block;
	position: static;
}
#shopInfo{
	margin-left: 5px;
}
#help_btn{

}
#kf_btn{

}
.pop{
	position: fixed;
	top:0px;
	left: 0px;
	bottom:0px;
	right: 0px;
}
.pop_bg{
	background: rgba(0,0,0,0.75);
}

.opacityBox .oL{
	background: url(../../img/dss/oL.png) left no-repeat;
	float: left;
}
.opacityBox .oR{
	background: url(../../img/dss/oR.png) right no-repeat;
	float: right;
}
.opacityBox .oL,.opacityBox .oR{
	width: 30px;
	height: 107px;
	background-size:contain;
}
.dp_pop{
	width: 200px;
	height: 150px;
	position: absolute;
	left: 30%;
	top: 160px;
	background: url(../../img/dss/c2.png)no-repeat;
	background-size: contain;
}
#xq .s1{
	width: 150px;
	height: 50px;
	position: absolute;
	top:0px;
	right: 0px;
	background: url(../../img/dss/s1.png) no-repeat;
	background-size: contain;
}
#sm .s2{
	width: 150px;
	height: 50px;
	position: absolute;
	top:0px;
	right: 0px;
	background: url(../../img/dss/s2.png) no-repeat;
	background-size: contain;
}
#zf .s3{
	width: 150px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 110px;
	background: url(../../img/dss/s3.png) no-repeat;
	background-size: contain;
}
.xq_pop{
	width: 250px;
	height: 150px;
	position: absolute;
	right: 55px;
	top: 55px;
	background: url(../../img/dss/c1.png)no-repeat;
	background-size: contain;
}
.sm_pop{
	width: 200px;
	height: 150px;
	position: absolute;
	right: 60px;
	top: 55px;
	background: url(../../img/dss/c3.png)no-repeat;
	background-size: contain;
}
.zf_pop{
	width: 200px;
	height: 150px;
	position: absolute;
	left: 70px;
	top: 150px;
	background: url(../../img/dss/c4.png)no-repeat;
	background-size: contain;
}
.xq_pop,.dp_pop,.sm_pop{
	z-index: 999;
}

.div_dsslogo{
	margin-top:20px;
}

.share_button {
	display: block;
    width: 45%;
    background: url("../img/share_btn1.png") no-repeat center;
    background-size: 100%;
    height: 40px;
    float: left;
}

.invite_button {
	display: block;
    width: 45%;
    background: url("../img/invite_btn1.png") no-repeat center;
    background-size: 100%;
    height: 40px;
    float: right;
    margin-left: 10px;
}

.top_div_1 {
	padding-top: 0px;
	/* background-color: #3e444f; */
	background:#3e444f url(../img/dss_shop_line.png) no-repeat center bottom -2px;
	background-size:100%;
}

.share_friends {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 400%;
	display: none;
	text-align: center;
}

.share_tip {
	float: right;
	width: 100vw;
	height: 55vw;
	background: url("../../img/redpackets/sharetip.png") top no-repeat;
	background-size: 100vw;
	margin-bottom: 20px;
}

.button_sty{
	width: 100%;
	margin-top: 15px;
	padding-bottom: 47px;
	display: -webkit-box;
	vertical-align:middle;
	text-align:center;
}

.div_dsslogo_img{
	width:30%;
	display:inline-block;
	margin-top:6px;
}

.qrtip_tips{
	margin: 0 auto;
	width: 170px;
	text-align: center;
	padding-top: 12px;
	font-size:14px;
}

@media screen and (min-width: 320px) and (max-width: 330px)  {
	.money-info > .money-income {
    	height: 90px;
	}
	.div_dsslogo{
		margin-top:0;
	}
	.money-info > .money-income > .money-split {
    	margin-bottom: 40px;
	}
	.money-withdraw {
	    margin-top: -18px;
	}
	.money-info > .money-account > .money-box {
    	margin-top: 2px;
    }
    .money-info > .money-account {
    	height: 58px;
	}
	.button_sty{
		margin-top: 8px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-top: 8%;
	    margin-bottom: 6%;
	}
}
@media screen and (min-width: 331px) and (max-width: 360px)  {
	.button_sty{
		margin-top: 10px;
	}
	.money-info > .money-income {
    	height: 99px;
	}
	.money-withdraw {
	    margin-top: -22px;
	}
	.money-info > .money-account > .money-box {
    	margin-top: 10px;
    }
    .money-info > .money-account {
    	height: 65px;
	}
}

@media screen and (min-width: 376px) and (max-width: 384px)  {
	.button_sty{
		margin-top: 10px;
	}
	.money-info > .money-income {
    	height: 93px;
	}
	.money-info > .money-income > .money-split {
    	margin-bottom: 43px;
	}
	.money-info > .money-account > .money-box {
    	margin-top: 13px;
    }
    .operation-list .operation-item .operation-item-box {
	    margin-bottom: 13%;
	}
}

@media screen and (min-width: 385px) and (max-width: 413px)  {
	.money-info > .money-income {
    	height: 93px;
	}
	.money-info > .money-income > .money-split {
    	margin-bottom: 43px;
	}
	.money-withdraw {
	    margin-top: -21px;
	}
	.money-info > .money-account > .money-box {
    	margin-top: 9px;
    }
     .money-info > .money-account {
    	height: 66px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-bottom: 12%;
	}
}
@media screen and (min-width: 414px) and (max-width: 420px)  {
	.money-info > .money-income > .money-box {
    	margin-top: 16px;
	}
	.money-info > .money-income > .money-split{
		margin-top: 22px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-top: 20%;
	    margin-bottom: 20%;
	}
	.money-info > .money-account{
		height:91px;
	}
	.money-info > .money-account > .money-box{
		margin-top: 22px;
	}
	.money-info > .money-account > .money-split {
	    margin-top: 26px;
	    margin-bottom: 32px;
	}
}

@media screen and (min-width: 421px) and (max-width: 435px)  {
	.share_button,.invite_button{
		height:42px;
	}
	.money-info > .money-income > .money-box {
    	margin-top: 16px;
	}
	.money-info > .money-income > .money-split{
		margin-top: 22px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-top: 27%;
	    margin-bottom: 20%;
	}
	.money-info > .money-account{
		height:91px;
	}
	.money-info > .money-account > .money-box{
		margin-top: 22px;
	}
	.money-info > .money-account > .money-split {
	    margin-top: 26px;
	    margin-bottom: 32px;
	}
}

@media screen and (min-width: 436px) and (max-width: 442px)  {
	.but-box{
		width:60%;
	}
	.share_button,.invite_button{
		height:42px;
		width:45%;
	}
	.invite_button{
		float:left;
		margin-left:20px;
	}
	.div_dsslogo {
    	margin-top: 30px;
	}
	.money-info > .money-income > .money-box {
		margin-top: 20px;
	}
	.money-info > .money-income > .money-split {
	    margin-top: 25px;
	    margin-bottom: 60px;
	}
	.money-info > .money-income{
		height:130px;
	}
	.money-info > .money-income > .money-box > .money-text,.money-info > .money-account > .money-box > .money-text{
		font-size:14px;
	}
	.money-info > .money-account > .money-box > .money-number{
		font-size:20px;
	}
	.money-info > .money-account{
		height:96px;
		margin-top: 7px;
	}
	.operation-item-img{
		height:38px;
	}
	.money-info > .money-account > .money-box{
		margin-top: 24px;
	}
	.money-info > .money-account > .money-split {
	    margin-top: 31px;
	    margin-bottom: 25px;
	}
	.withdraw-button-grey{
		height:40px;
	}
	.withdraw-div{
		line-height:40px;
	}
	.withdraw-div > img{
		margin-top:12px;
	}
	.div_dsslogo {
	    height: 220px;
	    background-size: 220px;
	}
	.div_dsslogo_img{
		width: 44%;
	    display: inline-block;
	    margin-top: 13px;
	}
	.qrtip_tips{
		font-size:20px;
		padding-top:20px;
	}
	.top_div_1 {
	    padding-bottom:10px;
	}
	.operation-list .operation-item .operation-item-box .operation-item-text{
		font-size:16px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-top: 20%;
	    margin-bottom: 19%;
	}
}

@media screen and (min-width: 443px) and (max-width: 768px)  {
	.but-box{
		width:47%;
	}
	.share_button,.invite_button{
		height:64px;
		width:45%;
	}
	.invite_button{
		float:left;
		margin-left:20px;
	}
	.div_dsslogo {
    	margin-top: 30px;
	}
	.money-info > .money-income > .money-box {
		margin-top: 20px;
	}
	.money-info > .money-income > .money-split {
	    margin-top: 25px;
	    margin-bottom: 60px;
	}
	.money-info > .money-income{
		height:130px;
	}
	.money-info > .money-income > .money-box > .money-text,.money-info > .money-account > .money-box > .money-text{
		font-size:20px;
	}
	.money-info > .money-account > .money-box > .money-number{
		font-size:24px;
	}
	.money-info > .money-account{
		height:105px;
		margin-top: 7px;
	}
	.operation-item-img{
		height:42px;
	}
	.money-info > .money-account > .money-box{
		margin-top: 24px;
	}
	.money-info > .money-account > .money-split {
	    margin-top: 31px;
	    margin-bottom: 25px;
	}
	.withdraw-button-grey{
		height:40px;
	}
	.withdraw-div{
		line-height:40px;
	}
	.withdraw-div > img{
		margin-top:12px;
	}
	.div_dsslogo {
	    height: 260px;
	    background-size: 260px;
	}
	.div_dsslogo_img{
		width: 30%;
	    display: inline-block;
	    margin-top: 15px;
	}
	.qrtip_tips{
	    width: 202px;
		font-size:23px;
		padding-top:20px;
	}
	.top_div_1 {
	    padding-bottom:23px;
	}
	.operation-list .operation-item .operation-item-box .operation-item-text{
		font-size:20px;
	}
	.operation-list .operation-item .operation-item-box {
	    margin-top: 16%;
	    margin-bottom: 16%;
	}
	.operation-list > .operation-item {
	    width: 33.2%;
	}
}
