<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>
	<display-name></display-name>	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止缓存溢出配置 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 获取request上下文 -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>	
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/spring-web.xml
		</param-value>
	</context-param>
	<!-- springMVC前端控制器配置开始 -->
	<servlet>
		<servlet-name>xgServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring/spring-beans.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>xgServlet</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<!-- springMVC前端控制器配置结束 -->
	
	<!-- POST中文乱码过滤器配置开始 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>  
            <param-name>forceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<!-- POST中文乱码过滤器配置结束 -->
	
	<!-- 
	<error-page>
		<exception-type>org.springframework.web.HttpSessionRequiredException</exception-type>
		<location>/login.htm</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error.htm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.htm</location>
	</error-page>
	 -->
	 <welcome-file-list>
	 	<welcome-file>/index.jsp</welcome-file>
	 </welcome-file-list>
</web-app>