.content-info{
	background:#3e444f;
	margin-top:50px;
	width:100%;
	max-width: 16400px;
}

body{
	background:#eeeeee;
}

.main-body{
    color: #333;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    background:#3e444f; 
}

.goBack {
  display: block;
  position: absolute;
  width: 44px;
  height: 50px;
  top: 0;
  left: 0px;
  background: url(../img/back.png) no-repeat center;
  background-size: 10px;
}

.main-info{
	padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;  
    line-height: 80px;
    height:80px;
    margin-top:50px;
    background:#3e444f;
    position: absolute;
    width:100%;
    display: -webkit-box;
}

.main-info > .main-avtar{
	height:80px;
	width:80px;
	margin-right:20px;
}

.main-info > .main-avtar >.main-avtarimg{
	height:80px;
	width:80px;
}

.main-info > .main-title{
	-webkit-box-flex: 1;
}

.main-info > .main-title > .dss-name{
	line-height: 20px;
    height:20px;
    font-size:15px;
	color:#ffffff;	
}

.main-info > .main-title > .main-normal{
	line-height: 54px;
    height:54px;
}

.main-info > .main-title > .main-normal > .user-info{
	line-height: 34px;
    height:34px;
    font-size:15px;
	color:#ffffff;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .user-info > .info-div{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info{
	line-height: 20px;
    height:20px;
    font-size:12px;
	color:#586378;	
	display: -webkit-box;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-text{
	padding-right:15px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img{
	padding-right:10px;
}

.main-info > .main-title > .main-normal > .auth-info > .auth-img > .auth-imgsize{
	height:16px;
	width:24px;
}

.pass_btn {
	width: 122px;
    height: 34px;
    line-height: 34px;
    background: #ffffff;
    font-size: 15px;
    background-color: #3e444f;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 17px;
    color:white;
    text-align:center;
}

.pass_btn:active {
	background-color: #25282f;
	border: 1px solid white;
	color:white;
}

.money-info{
	background:#e8e8e8;
	width:100%;
	/* margin-top:162px; */
}

.money-info > .money-income{
	background: url(../img/income.png) no-repeat center;
	background-color:transparent;
	height:97px;
	display: -webkit-box;
	background-size: 100% 100%;
}

.money-info > .money-income > .money-box{
	margin-top: 18px;
	margin-bottom:45px;
	-webkit-box-flex: 1;
}

.money-info > .money-income > .money-split{
	margin-top:39px;
	margin-bottom:39px;
	border-left: 1px solid #e8e8e8;
	width:1px;
	-webkit-box-flex: 0;
}

.money-info > .money-income > .money-box > .money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
}
.money-info > .money-income > .money-box > .money-number{
	font-size:25px;
	color:#333;
	text-align:center;
	margin-top: 5px;
}

.money-withdraw{
	height:34px;
	margin-top:-13px;
}

 .withdraw-button{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #cccccc;
/*    	background: #ee3e54; */
}

 .withdraw-button-grey{
	width: 32%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
   	background: #cccccc;
}

.withdraw-button:active{
	background-color: rgba(238,62,84,0.6);
	color:white;
}

.withdraw-button-disable{
	width: 32%;
    height: 34px;
    background: #ee3e54;
    font-size: 16px;
    border-radius: 15px;
    color:white;    
    z-index:10;
   	margin:auto auto;
}

.withdraw-div{	
	width:75px;
	height:34px;
	line-height:34px;
	margin:auto;
	display: -webkit-box;
}

.withdraw-disable{	
	width:50%;
	height:34px;
	margin-left:auto;
	margin-right:auto;
	background:#cccccc;
}

.btnicon{
	width:15px;
	height:15px;	
}

.withdraw-div > img {
	display:block;
	margin-top:9px;
	margin-right:8px;
}

.ui-tiled{
	padding-top:10px;
	padding-bottom:10px;
}

.income-info{
	padding: 20px 0;
	background-color: #e8e8e8;
}

.income-item-box {
	-webkit-box-flex: 1;
	height: 75px;
	margin: auto;
}

.income-item-line{
	border-right: 1px solid #cccccc;
}

.money-account{
	background:#e8e8e8;
	height:75px;
	padding-bottom:10px;
	display: -webkit-box;
}

.money-box{
	margin-top: 22px;
    margin-bottom: 22px;
    -webkit-box-flex: 1;
}

.money-split1{
	border-right: 1px solid #cccccc;
	height: 46px;
}

.money-split{
	margin-top:32px;
	margin-bottom:25px;
	border-left: 1px solid #cccccc;
	width:1px;
	-webkit-box-flex: 0;
}

.money-text{
	font-size:12px;
	color:#bbbbbb;
	text-align:center;
	margin-top: -10px
}

.money-number-black{
	font-size:17px;
	color:#333333;
	text-align:center;
	margin-top: 11px;
}

.money-number{
	font-size:17px;
	color:#999999;
	text-align:center;
	margin-top: 11px;
}

.operation-list{
	background-color: #ffffff;
}

.operation-list > .operation-item{
  width: 49.6%;
  float: left;
  background:#ffffff;  
  border-left:1px solid #eeeeee;
}

.operation-bottom-split{
	border-bottom:1px solid #eeeeee;	
}

.operation-list > .operation-item:active{
	background-color: #eeeeee;
}

.operation-item-split{
	float: left;
	border-right:1px solid #eeeeee;
	width:1px;
	min-height:136px;
}

.operation-list > .operation-item > .operation-item-box{
  width: 80px;
  margin:0 auto;
  margin-top:20%;
  margin-bottom:20%;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-account{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-order{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-partner{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-img-shop{
	width:46px;
	height:44px;
	margin: 0 auto;
    display: block;
}

.operation-list > .operation-item > .operation-item-box > .operation-item-text{
	height:20px;
	font-size:13px;
	color:#666666;
	margin-top:15px;
	text-align:center;
	line-height:20px;
}

.yrz .auth-text {
	color: #fff;
}

.top_menu{
	position: absolute;
	top: 0px;
	right: 5px;
	width: 50px;
	height: 50px;
	background: url(../img/personal_btn.png) no-repeat 20px 15px;
    background-size: 20px;
}
.top_right{
	position: absolute;
	top: 0px;
	right: 5px;
	width: 50px;
	height: 50px;
	background: url(../img/qrcode_btn.png) no-repeat 20px 15px;
    background-size: 20px;
}

/* 弹出提示框 */
.cover{
	width: 100%;
    top:0;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index:9999;
    display:none; 
}

.tips{
    width: 217px;
    position: absolute;
    top: 300px;
    left: 91px;
}

.cover_s3{
    width: 150px;
    height: 65px;   
    margin-left: 15px;
    background: url(../../dss/img/tips_cash.png) no-repeat;
    background-size: 100%;   
    
}

.cover_pop{
	/* width:320px; */
	height:290px;
    position: absolute;
    top: 394px;
    left:100px;
    background-size: 88%;
    z-index: 9999;
    display:none;
}

.btn-app{
    display: block;
    width: 267px;
    height: 224px;
    margin:0 auto;
    margin-left: -40px;
    background:url(../../dss/img/tips.png) no-repeat center;
    background-size: 100%;
    margin-bottom:40px;
/*     border: 1px solid red; */
}

@media screen and (min-width: 320px) and (max-width: 330px)  {
	.cover_s3 {
   		margin-left: -7px;
	}
	.btn-app {
	    margin-left: -69px;
	}
}

@media screen and (min-width: 331px) and (max-width: 360px)  {
	.cover_s3 {
   		margin-left: 16px;
	}
	.btn-app {
	    margin-left: -36px;
	}
	
}

@media screen and (min-width: 376px) and (max-width: 384px)  {
	.cover_s3 {
   		margin-left: 16px;
	}
	.btn-app {
	    margin-left: -36px;
	}
}

@media screen and (min-width: 385px) and (max-width: 411px)  {
	.cover_s3 {
   		margin-left: 29px;
	}
	.btn-app {
	    margin-left: -24px;
	}
}

@media screen and (min-width: 412px) and (max-width: 414px)  {
	.cover_s3 {
   		margin-left: 33px;
	}
	.btn-app {
	    margin-left: -20px;
	}
}
@media screen and (min-width: 415px) and (max-width: 435px)  {
	.cover_s3 {
	    width: 184px;
	    height: 58px;
	    margin-left: 35px;
	    background-size: 174px 55px;
	}
	.btn-app {
	    margin-left: -10px;
	}
	
}

@media screen and (min-width: 436px) and (max-width: 768px)  {
	.cover_s3 {
	    width: 308px;
	    height: 122px;
	    margin-left: 108px;
	    background-size: 308px 55px;
	}
	.btn-app {
	    margin-left: 133px;
	    margin-top:-64px;
	}
}

@media screen and (min-width: 769px)  {
	.cover_s3 {
	    width: 308px;
	    height: 122px;
	    margin-left: 108px;
	    background-size: 308px 62px;
	}
	.btn-app {
	    margin-left: 133px;
	    
	}
}



/* 无跳转修改 */
.top_div1 {
	padding-top: 0px;
	background-color: #3e444f;
	background-image: url(../img/dss_shop_line.png);
    background-position: 0px 285px;
    background-repeat: no-repeat;
    background-size: 100% 46px;
    height: 329px;
}

.div_name {
    position: relative;
    height: 44px;
    line-height: 44px;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.goBack_w {
    color: white;
    background: url(../img/back.png) no-repeat center;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0px;
    background-size: 10px;
}

.qrtip {
    height: 20px;
    line-height: 20px;
    color: #586378;
    font-size: 14px;
    padding-top:12px;
}

.div_dsslogo{
	position:relative;
}

.div_dsslogo_cord {
    text-align: center;
    background: url(../img/qrbg1.png) no-repeat center;
    background-size: 160px;
}

.but-box{
    margin: 0 auto;
    width: 220px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.but-box:after{
	content:" .";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.share_button {
	display: block;
    
    background: url("../img/share_scan_button.png") no-repeat center;
    
    height: 35px;
    background-size: 110px 35px;
}

.share_friends {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 400%;
    display: none;
    text-align: center;
}

.share_tip {
    float: right;
    width: 100vw;
    height: 55vw;
    background: url("../img/sharetip.png") top no-repeat;
    background-size: 100vw;
    margin-bottom: 20px;
}
.nowx_tip {
    color: white;
    text-align: center;
    padding: 3px;
    -moz-user-select: element;
    -webkit-user-select: element;
    -ms-user-select: element;
}

/* 推广码说明 */

.gift_box>img{
    width: 27px;
    height: 46px;
    position: absolute;
    top: 35px;
    right: 95px;
}

.code_description{
	width:280px;
	height:300px;
	z-index: 9999;
    position: absolute;
    left: 45px;
    top: 184px;
	background-color:#fff;
	border-radius: 12px;
	display:none;
}
.code_description>img{
    width: 118px;
    height: 121px;
    position: absolute;
    left: 81px;
    top: -41px;
}
.code_description_center{
	padding-top:103px;
	padding-bottom:30px;
}
.code_description_txt{
	padding:0 17px;
	font-size:13px;
	color:#666;
	margin-top:7px
}
.code_description_price{
	color:#ee3e54;
}
.code_description_btn{
	font-size:16px;
	color:#333;
	height:50px;
	line-height:50px;
	text-align: center;
    border-top: 1px solid #e8e8e8;
}
.shake_leftright>img{
	animation: shake-leftright 1.5s linear 2 forwards;
	-webkit-animation: shake-leftright 1.5s linear 2 forwards;
    -moz-animation: shake-leftright 1.5s linear 2 forwards;
    -o-animation: shake-leftright 1.5s linear 2 forwards;
}

@keyframes shake-leftright {
	0% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	25%{
		transform:rotate(30deg);
		transform-origin:0% 0%;
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	75%{
		transform:rotate(-30deg);
		transform-origin:0% 0%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
}

@-webkit-keyframes shake-leftright {
	0% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	25%{
		transform:rotate(30deg);
		transform-origin:0% 0%;
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	75%{
		transform:rotate(-30deg);
		transform-origin:0% 0%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
}

@-moz-keyframes shake-leftright {
	0% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	25%{
		transform:rotate(30deg);
		transform-origin:0% 0%;
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	75%{
		transform:rotate(-30deg);
		transform-origin:0% 0%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
}

@-o-keyframes shake-leftright {
	0% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	25%{
		transform:rotate(30deg);
		transform-origin:0% 0%;
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
	75%{
		transform:rotate(-30deg);
		transform-origin:0% 0%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 0%;
	}
}