.card-item{
    width: 100%;
    position: relative;
}

.card-details{
    float: left;
}
.card-img{
    height: 50px;
    width: 50px;
    float: left;
}
.card-info{
    margin-left: 30px;
    float: left;
}
.card-exchange{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.card-unused {
    margin-top: 15px;
}
.card-used-info {
    height: 125px;
    background: url(../img/coupon/used_gold_line.png);
    background-size:100% 100%;
    display: -webkit-box;
}

.card-unused-info {
    height: 125px;
    background: url(../img/coupon/no_use_gold.png);
    background-size:100% 100%;
    display: -webkit-box;
    position: relative;
}

.card-expired-info {
    height: 125px;
    background: url(../img/coupon/no_used.png);
    background-size:100% 100%;
    display: -webkit-box;
}

.card-unused-info .item_price {
    font-size: 34px;
    color: #f8a800;
    margin-left: 18px;
    line-height: 88px;
    width: 127px;
}

.card-used-info .item_price {
    font-size: 34px;
    color: #fcdb94;
    margin-left: 18px;
    line-height: 115px;
    width: 127px;
}

.card-expired-info .item_price {
    font-size: 34px;
    color: #e8e8e8;
    margin-left: 18px;
    line-height: 88px;
    width: 127px;
}

.item_price > span {
    font-size: 21px;
    margin-right:5px;
}

.card-introduce {
    -webkit-box-flex:1;
    margin-top: 15px;
}

.card-expired-info .card-name{
	height: 42px;
    font-size: 15px;
    color: #CCCCCC;
    overflow:hidden;
}

.card-unused-info .card-name{
	height: 42px;
    font-size: 15px;
    color: #666666;
    overflow:hidden;
}

.card-used-info .card-name{
	height: 42px;
    font-size: 15px;
    color: #666666;
    overflow:hidden;
}

.card-unused-info .card-name{
    height: 42px;
    font-size: 15px;
    color: #333333;
    overflow:hidden;
}
.card-introduce ul li {
    list-style-type: disc;
    background: transparent;
}
.card-expired-info .card-introduce ul, .card-used-info .card-introduce ul, .card-unused-info .card-introduce ul  {
    margin-left: 15px;
    font-size: 12px;
    color: #CCCCCC;
}

.card-unused .item_bottom_line {
    height: 6px;
    background: url(../img/coupon/gold_line.png) no-repeat;
    background-size: 100% 6px;
}

.card-unused .item_bottom_line1 {
    height: 6px;
    background: url(../img/coupon/line-unused.png) no-repeat;
    background-size: 100% 6px;
}

.item_bottom_line1 {
    height: 6px;
    background: url(../img/coupon/line-unused.png) no-repeat;
    background-size: 100% 6px;
}

.card-unused-info .item_bottom_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.card-unused .application_scope_info_bg {
    width: 94%;
    min-height: 78px;
    background: url(../img/coupon/gold_bottom.png) no-repeat;
    background-size: 95px 51px;
    padding: 0px 16px;
    color:#999;
    font-size:12px;
}

.change{
    width:75px;
    height:24px;
    background:#f8b62d;
    position:absolute;
    border-radius:3px;
    font-size:14px;
    text-align:center;
    line-height:24px;
    color:#fff;
    top:72px;
    left:27px;
}

.ImmediatelyUse{
	width:75px;
    height:24px;
    background:#ee3e54;
    position:absolute;
    border-radius:3px;
    font-size:14px;
    text-align:center;
    line-height:24px;
    color:#fff;
    top:90px;
    left:27px;
}