body>div{
			line-height: 40px;
			color:#666;
		}

.ui-header {
    background-color: #ffffff;
}

.goBack {
    display: block;
    position: absolute;
    width: 44px;
    height: 45px;
    top: 0;
    left: 0px;
    background: url(../img/back.png) no-repeat center;
    background-size: 13px;
}

.address-edit {
    display: block;
    position: absolute;
    width: 44px;
    height: 45px;
    top: 0;
    right: 0px;
}

.add_new{
	width:100%;
	height:50px;
	border-top:1px solid #ccc;
	position:fixed;
	bottom:0;
	background:#fff;
	line-height:50px;
	display:none;
}

.address-save_wx{
	background:#ee3e54;
	width:96%;
	height:39px;
	margin:0 auto;
	border-radius:6px;
	margin-left:2%;
	color:#fff;
}



.ui-form {
    margin-top: 45px;
}

.adress-set{
    margin-top: 20px;
    height: 50px;
    width: 100%;
}
.adress-set-icon{
    margin-top: 16px;
}
textarea.address-select-input{
    height: 100%;
    width: 80%;
    float: left;
}

.span_area {
    color: #333333;
    position: absolute;
    left: 0px;
    font-size: 15px;
    color: #999999;
}

.ui-checkbox-s input:checked:before {
    color: #ee3e54;
}

.select_eare_div {
    background: url(../img/arrow.png) no-repeat right 10px center;
    background-size:2%;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui-form-item {
    padding-left: 0px;
    margin-left: 15px;
}

.ui-form-item > label {
    font-size: 15px;
    color: #999999;
}

.desc {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #999999;
    background-color: #eeeeee;
    padding-left: 15px;
}

.address-area {
    height: 95px;
}

.address-area #addressinfo {
    margin-top: 13px;
}

.div_desc {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-size: 14px;
    color: #999999;
    background-color: #eeeeee;
}

form .ui-border-b:last-child {
    background: none;
}

.ui-form-item > input {
    font-size: 15px;
    color: #333333;
}

.div_desc1 {
    margin-left: 15px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    font-size: 15px;
    color: #333;
}

.div_desc2 {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
}

.div_up_photo_area {
    display: -webkit-box;
    margin-top: 10px;
    height: 108px;
    padding: 0px 2px;
    margin-bottom: 50px;
}

.div_up_photo_area> div {
    -webkit-box-flex: 1;
    margin: 0px 7px;
    width: 0%;
    overflow: hidden;
}

.div_up_photo_area img {
    width: 100%;
    height: 100%;
    display: block;
}

.ui-dialog {
    box-sizing: border-box;
    display: none;
    font-family: "Microsoft YaHei" !important;
    pointer-events: auto;
    position: absolute;
}
.div_up_photo{
    padding-bottom:50px;
}