header {
    height: 50px;
    position: relative;
    border: none;
    background: #fff;
    border-bottom:1px solid #aaa;
}

.goBack {
	display: block;
	position: absolute;
	width: 44px;
	height: 50px;
	top: 0;
	left: 0px;
	background: url(../img/back.png) no-repeat center;
	background-size: 8px;
}
.goIndex {
	display: block;
	position: absolute;
	width: 44px;
	height: 50px;
	top: 0;
	right: 0px;
	background: url(../img/index.png) no-repeat center;
	background-size: 25px;
}
.result-img{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	background-color: #ee6172;
	padding-top: 25px;
	padding-bottom: 20px;
}
.result-img div {
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	color: #ffffff;
}
.result-btm{
	margin-right: 10px;
	margin-left: 10px;
	/*width: 100%;*/
	height: 64px;
	/* padding-top: 10px; */
	background-size:100% 100%;
	/*display: -webkit-box;*/
	/*position: relative;*/
}
.vieworder{
	margin-left: 1%;
    float: left;
    width: 48%;
    background: #ffffff;
    color: #333333;
    font-size: 17px;
    font-weight:600;
    height: 39px;
    line-height: 39px;
    border: 1px solid #999999;
}
.viewshop{
	margin-right: 1%;
    float: right;
    width: 48%;
    background: #333333;
    font-size: 17px;
    font-weight:600;
    color: #ffffff;
    height: 39px;
    line-height: 39px;
    border: 1px solid #999999;
}

body {
	background-color: #ffffff;
}

.xiaoxi_tip {
	margin-left: 20px;
	font-size: 12px;
	color: #999999;
	text-align: left;
}

.coupon_code{
	background-image: url(../img/coupon_code_left.png);
    background-position: 10px 21px;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-top: 1px dashed #cccccc;
    padding-top: 10px;
    display: none;
}
.coupon_code_message{
	margin-left: 36px;
	margin-bottom: 15px;
}
.couponcode_message_name{
  	font-size: 15px;
    color: #333333;
    padding-top: 10px;
}

.couponcode_message_time_left{
	font-size: 13px;
    color: #666666;
    margin-top: 8px;
}
.couponcode_message_send{
	color: #666666;
    font-size: 13px;
    margin-top: 8px;
}
.redeem_code li{
    margin-left: 28px;
    border-top: 1px solid #cccccc;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.redeem_code li p{
	padding-left: 4px;
    color: #666666;
    font-size: 15px;
}

.redeem_code_nub{
	color: #333333;
    margin-left: 8px;
}
.couponcode_message_time{
	margin-left: 10px;
}

.redeem_qrcode{
	float: right;
    width: 30px;
    height: 30px;
    margin-right: 48px;
    margin-top: 6px;
    background-image: url(../img/redeem_qrcode_but.png);
    background-position: 9px 9px;
    background-size: 73% 73%;
    background-repeat: no-repeat;
}

.redeem_qrcode_img{
	width: 290px;
    height: 290px;
    background-color: #fff;
    z-index: 2;
    margin: 0 auto;
    border-radius: 18px;
    margin-top: 30%;
    background-repeat: no-repeat;
    background-size: 187px 187px;
    background-position: 51px 41px;
    position: relative;
}

.redeem_qrcode_img_use{
	font-size: 12px;
    position: absolute;
    bottom: 20px;
    margin-left: 46px;
    color: #333;
}

.redeem_qrcode_closeBtn{
	width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 55px;
    background-image: url(../img/redeem_qrcode_closeBtn.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
	
}