header{
	border:none;
	border-bottom:1px solid #ccc;
}
.goBack {
    display: block;
    position: absolute;
    width: 44px;
    height: 100%;
    top: 0;
    left: 0px;
    background: url(../img/back.png) no-repeat center;
    background-size: 10px;
}

.pay_status{
	width:100%;
}

.pay_status img{
	width:100%;
}

.shop_title{
	width:91%;
	height:39px;
	background:url(../img/xg_pay/shop.png) no-repeat 10px center;
	background-size:17px;
	border-bottom:1px solid #e8e8e8;
	color:#333;
	font-size:16px;
	line-height:39px;
	padding-left:34px;
}

.shop_title p{
	float:left;
}

.shop_title span{
	float:right;
	font-size:13px;
	margin-right:10px;
}

.details_items{
	color:#666;
	font-size:12px;
	padding:11px 15px;
}

.pay{
	margin-top:5px;
}

.go_index{
	width:100%;
	height:44px;
	line-height:44px;
	border-top:1px solid #e8e8e8;
}

.go_index a{
	float:right;
	width:75px;
	height:30px;
	border:1px solid #999;
	border-radius:6px;
	color:#666;
	font-size:14px;
	line-height:30px;
	text-align:center;
	margin-top: 6px;
	margin-right: 10px;
}

.pay_for span{
	color:#ee3e54;
}