.content {
	background-color: #eeeeee;
	margin: 0 auto;
}

.dropload-down {
	width: 100%;
}

/* .ui-header {
	background-color: #ffffff;
	border-bottom: 1px solid #aaaaaa;
} */

/* .goBack {
	display: block;
	position: absolute;
	width: 44px;
	height: 100%;
	top: 0;
	left: 0px;
	background: url(../img/back.png) no-repeat center;
	background-size: 10px;
} */

.after_sales_item {
	background-color: #ffffff;
	padding: 0px 10px;
	font-size: 13px;
}

.after_sales_list li{
	margin-top: 10px;
	color: #666666;
}

.color_red {
	color: #ee3e54;
}

.after_sales_info {
	height: 39px;
	line-height: 39px;
}

.after_sales_info > span {
	float: right;
}

.after_sales_list_none {
	margin-top: 135px;
	background: url("../img/return/empty.png") top no-repeat;
	background-size: 102px;
	height: 145px;
	position: relative;
}

.after_sales_list_none:after{
	content: '暂时还没有售后订单哟~';
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 15px;
	color: #999999;
}

.after_sales_list li:first-child{
	margin-top: 0px; 
}

.item_info {
	margin: 0px -10px;
	padding: 10px;
	display: -webkit-box;
	background-color: #f9f9f9;
}

.div_item_img {
	width: 75px;
	height: 75px;
	border: 1px solid #CCCCCC;
}

.item_price_info {
	-webkit-box-flex: 1;
	padding-left: 20px;
}

.lineprice {
	float: right;
	color: #666666;
	font-size: 11px;
}

.lineprice > span {
	font-size: 13px;
}

.item_name {
	font-size: 12px;
	height: 39px;
	overflow: hidden;
	color: #333;
	padding-right: 10px;
}

.item_format {
	font-size: 12px;
	color: #999999;
}
.item_totle_price {
	float: right;
	color: #666666;
	font-size: 11px;
	margin-top: 7px;
}

.item_totle_price span {
	font-size: 13px;
}

.total_price {
	font-size: 14px;
	color: #666666;
	background-color: #ffffff;
	height: 39px;
	line-height: 39px;
}

.total_price_info {
	float: right;
}

.price_fen {
	color: #ec3d4e;
	font-size: 12px;
}

.price_yuan {
	font-size: 15px;
}