body {
	background-color: #ffffff;
}

.ui-header {
	border: none;
	border-bottom: 1px solid #aaaaaa;
	background-color: #ffffff;
}

.goBack {
	display: block;
	position: absolute;
	width: 44px;
	height: 100%;
	top: 0;
	left: 0px;
	background: url(../img/back.png) no-repeat center;
	background-size: 10px;
}

.ui-tab-nav {
	padding: 0px 10px;
	position: fixed;
	top: 46px;
	background-color: #ffffff;
	z-index: 100;
}

.ui-tab-nav li{
	font-size: 13px;
	color: #999999;
	min-width: 0px;
}

.ui-tab {
	margin-top: 90px;
}

.div_title {
	margin-top: 25px;
	margin-bottom: 30px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	background: url("../img/FAQ/title.png") center no-repeat;
	background-size: 130px;
	text-align: center;
	font-weight: bolder;
}

ul > li > div {
	margin: 0px 12px;
	color: #333333;
	margin-bottom: 30px;
}

.div_desc {
	font-size: 14px;
	line-height: 22px;
}

.div_desc:before {
	content: "";
	float: left;
	width: 18px;
	height: 21px;
	background: url("../img/cart/tip_point.png") left no-repeat;
	background-size: 8px;
}

.div_xiaoxi_tip {
	font-size: 14px;
	line-height: 20px;
	margin-left: 18px;
	margin-top: 25px;
}

.div_xiaoxi_tip:before{
	margin-left: -18px;
	padding-left: 18px;
	background: url("../img/cart/tip_point.png") left no-repeat;
	background-size: 8px;
	display: block;
	content: '温馨提醒';
	color: #ee3e54;

}

.div_Q {
	font-size: 14px;
	font-weight: bolder;
	line-height: 20px;
	margin-top: 25px;
}

.div_Q:before {
	content: 'Q:';
	margin-right: 10px;
}

.div_A {
	font-size: 14px;
	line-height: 20px;
}

.div_box {
	display: -webkit-box;
}

.div_A:before {
	content: 'A:';
	margin-right: 10px;
	color: #ee3e54;
	font-weight: bolder;
}

ol {
	-webkit-box-flex: 1;
	margin-left: 20px;
}

.div_box > ol {
	margin-left: 10px;
}

ol > li {
	list-style-type: decimal;
}

.ui-tab-nav li.current {
	color: #333333;
	border-bottom: 2px #ee3e54 solid;
}

.boder {
	font-weight: bolder;
}

.div_connect {
	font-size: 14px;
	font-weight: bolder;
	color: #333333;
	text-align: center;
}

.div_connect2 {
	font-size: 13px;
	color: #333333;
	text-align: center;
}

.div_code {
	margin: 25px 0px;
	height: 96px;
	background: url("../img/FAQ/servicecode.png") center no-repeat;
	background-size: 96px;
}

.box_fix_4 {
	-webkit-box-flex: 4;
	width: 0%;
}

.box_fix_3 {
	-webkit-box-flex: 3;
	width: 0%;
}

.box_fix_2 {
	-webkit-box-flex: 2;
	width: 0%;
}