body {
	background-color: #eee;
}

*{
	margin:0;
	padding:0;
}

header {
  height: 50px;
  position: fixed;
  border: none;
  border-bottom: 1px solid #eee;
  top: 0px;
  width: 100%;
  z-index: 99999;
}

.group-back {
  left: 0;
  background: url(../img/common/back.png) no-repeat center;
  background-size: 10px;
}

.group-share{
	background:url(../img/group_buying/group_share.png) no-repeat center; 
	right:0;
	background-size:40%;
}

#slider{
	margin-bottom: 10px;
	margin-top:50px;
}

.ui-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 0; 
	height:108px;
}

.ui-slider-content > li img {
	display: block;
	width: 100%; 
	height:108px;
 }
 
 .group_type{
    background: #fff;
    width: 100%;
	font-size:14px;
	color:#333;
	margin-bottom:10px;
}

.group_type li{
	height:44px;
	line-height:44px;
 	padding-left: 25px;

} 

.num{
	float:left;
}

.border{
	border-bottom:1px solid #eee;
}

.type_list{
	padding-left:10px;
}

.type_list1{
	background:url("../img/group_buying/shop_time.png") no-repeat left center;
	background-size:4%;
}

.type_list2{
	background:url("../img/group_buying/shop_local.png") no-repeat left center;
	background-size:4%;
}

.type_list3{
	background:url("../img/group_buying/shop_phone.png") no-repeat left center;
	background-size:4%;
}

.type_list4{
	background:url("../img/group_buying/shop_bost.png") no-repeat left center;
	background-size:4%;
}

.shop_right{
	height:30px;
	width:30px;
	background:url("../img/item/arrow-in.png") center 10px no-repeat;
	background-size: 7px 12px;
	margin-top:5px;
	float:right;
}

.shop_group{
	width:100%;
	background:#fff;
	margin-bottom:10px;
	float:left;
}

.shop_group h3,.others_like h3{
	font-size:15px;
	color:#333;
	padding-left:10px;
	height:44px;
	line-height:44px;
	border-bottom:1px solid #eee;
}

.shop_logo{
	width:60px;
    float:left;
	margin:10px;
}

.shop_logo img{
	width:100%;
	height:100%;
}

.goods{
	width:75%;
	float:left;
	color:#333;
	font-size:16px;
	margin-top:15px;	
	padding-bottom:8px;
	border-bottom:1px solid #eee;
}

.like_goods{
	width:75%;
	float:left;
	color:#333;
	font-size:16px;
	margin-top:10px;	
	padding-bottom:4px;
	border-bottom:1px solid #eee;
}

.price{
	color:#ee3e54;
	font-size:15px;
	margin-top:10px;
}

.like_price{
	color:#ee3e54;
	font-size:15px;
	margin-top:5px;
}

.old_price{
	color:#999;
	font-size:8px;
	margin-left:2px;
}

.sale{
	float:right;
	font-size:12px;
	color:#999;
	margin-right:10px;
}

.shop_other{
	height:87px;
}

.others_like{
	background:#fff;
	width:100%;
	float:left;
}

.more{
	float:right;
	font-size:13px;
	color:#333;
	margin-right:10px;
}

.like_other{
	height:90px;
}

.like_shop{
	font-size:12px;
	color:#999;
	background:url("../img/group_buying/group_shop.png") no-repeat left center;
 	background-size: 13px;
    padding-left: 17px;
    margin-top:5px;
}

.share_friends {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 400%;
	z-index: 999999;
	display: none;
}

.share_tip {
	float: right;
	width: 215px;
	height: 118%;
	background: url("../img/redpackets/sharetip.png") top no-repeat;
	background-size: 215px;
}

.shop_alert{
	width:200px;
	height:90px;
	position:fixed;
	top:306px;
	left:27%;
	margin:0 auto;
	background:#fff;
	z_index:99999999;
	text-align: center;
 	display:none;
 	border-radius:6px;
}

.tel{
	height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.shop_alert ul li{
	height:40px;
	line-height:40px;
	float:left;
	width:99px;	
	color:#74A3CA;
}

.li_border{
	border-right:1px solid #eee;
}

.li_border a{
	color:#74A3CA;	
}

.alert_body{
	width:100%;
	height:95%;
	position:fixed;
	bottom:0;
	background:rgba(0,0,0,.5);
	display:none;
}

@media screen and (min-width: 321px) and (max-width: 330px)  {
	.goods,.like_goods{
		width:75%;
	}
}
@media screen and (min-width: 331px) and (max-width: 360px)  {
	.goods,.like_goods{
		width:77%;
	}
}
@media screen and (min-width: 361px) and (max-width: 375px)  {
	.goods,.like_goods{
		width:78%;
	}
}
@media screen and (min-width: 376px)  {
	.goods,.like_goods{
		width:80%;
	} 
}