body{
    background:#fff;
}

.close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 26px;
    height: 25px;
    background: url("../img/logon/close.png") center no-repeat;
    background-size: 26px;
}

.logon_bg{
	width: 274px;
	margin:0 auto;
    position: absolute;
    top: 15%;
    height: 230px;
    left: 0px;
    right: 0px;
}

.logon_bg img{
	width:100%;
}

.logon_bg1 {
	width: 274px;
	margin:0 auto;
    position: absolute;
    top: 15%;
    height: 230px;
    left: 0px;
    right: 0px;
    background: url("../img/logon/logon.png") center no-repeat;
    background-size: auto 100%;
}



.div_login {
    /* margin: 0px auto;
    margin-bottom: 15px; */
    position: absolute;
    bottom: 55px;
    left: 0px;
    right: 0px;
}

.div_login > a {
    display: block;
    width: 274px;
    height: 100%;
    margin: 0px auto;
    background-color: #333333;
    border-radius: 44px;
    font-size: 16px;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
}

.touch{	
	-webkit-animation:animations  ease-in-out 0.2s forwards;
    -moz-animation:animations  ease-in-out 0.2s forwards;
    animation:animations  ease-in-out 0.2s forwards;
}

@-webkit-keyframes animations{
    0%{width:274px; line-height:44px; font-size:16px;}
    20%{width:272px; line-height:43px; font-size:16px;}
    40%{width:270px; line-height:42px; font-size:15px;}
    60%{width:268px; line-height:41px; font-size:15px;}
    80%{width:266px; line-height:40px; font-size:14px;}
    100%{width:264px; line-height:39px; font-size:14px;}
}
@-moz-keyframes animations{
     0%{width:274px; line-height:44px; font-size:16px;}
    20%{width:272px; line-height:43px; font-size:16px;}
    40%{width:270px; line-height:42px; font-size:15px;}
    60%{width:268px; line-height:41px; font-size:15px;}
    80%{width:266px; line-height:40px; font-size:14px;}
    100%{width:264px; line-height:39px; font-size:14px;}
}
@keyframes animations{
     0%{width:274px; line-height:44px; font-size:16px;}
    20%{width:272px; line-height:43px; font-size:16px;}
    40%{width:270px; line-height:42px; font-size:15px;}
    60%{width:268px; line-height:41px; font-size:15px;}
    80%{width:266px; line-height:40px; font-size:14px;}
    100%{width:264px; line-height:39px; font-size:14px;}
}

.touch_change{	
	-webkit-animation:animations1  ease-in-out 0.2s forwards;
    -moz-animation:animations1  ease-in-out 0.2s forwards;
    animation:animations1  ease-in-out 0.2s forwards;
}

@-webkit-keyframes animations1{
    0%{width:264px; line-height:39px; font-size:14px;}
    20%{width:266px; line-height:40px; font-size:14px;}
    40%{width:268px; line-height:41px; font-size:15px;}
    60%{width:270px; line-height:42px; font-size:15px;}
    80%{width:272px; line-height:43px; font-size:16px;}
    100%{width:274px; line-height:44px; font-size:16px;}
}
@-moz-keyframes animations1{
     0%{width:264px; line-height:39px; font-size:14px;}
    20%{width:266px; line-height:40px; font-size:14px;}
    40%{width:268px; line-height:41px; font-size:15px;}
    60%{width:270px; line-height:42px; font-size:15px;}
    80%{width:272px; line-height:43px; font-size:16px;}
    100%{width:274px; line-height:44px; font-size:16px;}
}
@keyframes animations1{
     0%{width:264px; line-height:39px; font-size:14px;}
    20%{width:266px; line-height:40px; font-size:14px;}
    40%{width:268px; line-height:41px; font-size:15px;}
    60%{width:270px; line-height:42px; font-size:15px;}
    80%{width:272px; line-height:43px; font-size:16px;}
    100%{width:274px; line-height:44px; font-size:16px;}
}



/* .div_login > a:active {
    background-color: #cccccc;
} */

.div_register {
    position: absolute;
    bottom: -9px;
    left: 0px;
    right: 0px;
    /*height: 44px;*/
}

.div_register > a {
    display: block;
    width: 274px;
    height: 100%;
    margin: 0px auto;
    border-radius: 44px;
    border: 1px solid #333333;
    font-size: 16px;
    color: #333333;
    line-height: 44px;
    text-align: center;
}

/* .div_register > a:active {
    background-color: #cccccc;
} */
.logBottom{
    position: absolute;
    bottom: 12%;
    left: 0px;
    right: 0px;
    height: 100px;
}
