background{
	color:#eee;
}

*{
	margin:0;
	padding:0;
}

.actionBar ul li {
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
    height: 50px;
}

.xg-active .bar-index {
    background: url(../img/store/store_sales.png) center 5px no-repeat;
    color: #929292;
    background-size: 25px;
}

.bar-shop {
    background: url(../img/store/store_change_1.png) center 5px no-repeat;
    color: #000;
    background-size: 25px;
}

.bar-classify {
    background: url(../img/store/store_record.png) center 5px no-repeat;
    background-size: 25px;
}

.bar-cart {
    background: url(../img/store/store_manager.png) center 5px no-repeat;
    background-size: 25px;
}

.search{
	margin-top:10px;
	height:49px;
	width:100%;
	background: #fff;
	padding-left:10px;
	font-size:15px;
}

.search input{
	height:48px;
	line-height:49px;
	border:none;
	width:72%;
	margin-left:20px;
	font-size:14px;
}

@media screen and (min-width: 320px) and (max-width: 330px)  {
	.search input{
		width:72%;
	}
}
@media screen and (min-width: 331px) and (max-width: 375px)  {
	.search input{
			width:76%;
	}
}

@media screen and (min-width: 376px)  {
	.search input{
			width:78%;
	}
}

.btn{
	background: #333;
    width: 93%;
    display: block;
    margin-top: 20px;
    height: 49px;
    margin: 20px auto;
    text-align: center;
    line-height: 49px;
    font-size: 17px;
    color: #fff;
    border-radius:6px;
}

/* .histroy{
	margin-top:20px;
} */

.histroy h3{
	font-size:14px;
	text-align:center;
	line-though:1px solid red;
	color:#999;
}

.date{
	color:#aaa;
	font-size:9px;
	margin-left:10px;
	margin-bottom:7px;
}

.time{
	margin-left:5px;
}

.history_item{
	height:55px;
	background:#fff;
	padding-left:10px;
	padding-top:10px;
}

.goods_name{
	font-size:15px;
	color:#333;
}

.goods_num{
	font-size:11px;
	margin-top:5px;
}

.cust{
	float:right;
	color:#999;
	margin-right:10px;
}

.history_record{
	margin-top: 15px;
}