*{
	margin:0;
	padding:0;
}

.manager_info{
	width:100%;
	height:180px;
	background:url(../img/store/manager_bg.png) no-repeat center;
	background-size: 100%;
    text-align: center;
    line-height: 181px;
}

.add{
	background:url(../img/store/store_add.png) no-repeat center;
	background-size: 100%;
    width: 200px;
    height: 80px;
    position: absolute;
    top: 145px;
    right: 20px;
}

.all_child{
	margin-top:20px;
	color:#999;
	font-size:15px;
}

.all_child h3{
	background:url(../img/store/all_child.png) no-repeat left center;
	background-size: 25px;
	padding-left:31px;
	margin-left:10px;
}

.child_num{
	width:94%;
	height:50px;
	border:1px solid #ccc;
	border-radius:5px;
	margin:0 auto;
	margin-top:15px;
	line-height: 50px;
	color:#333;
	font-size:15px;
}

.all_child ul li .list{
	width:5px;
	height:5px;
	border-radius:50%;
	background:#ee3e54;	
    float: left;
    margin-left:15px;
    margin-top:22px;
    margin-right:25px;
}

.all_child ul li:nth-child(even) .list{
	background:#f8b62d;
}

.delete{
	height:18px;
	float:right;
	margin-top: 18px;
	padding:0 20px;
	border-left:1px solid #ccc;
}

.delete img{
	width:15px;
	float: left;
}

.nothing{
	margin-top:60px;
 	display:none; 
}

.nothing_img{
	width:102px;
	margin:0 auto;
}

.nothing_img img{
	width:100%;
}

.nothing_word{
	margin-top:16px;
	font-size:14px;
	color:#999;
	text-align:center;
}

.actionBar ul li {
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
    height: 50px;
}

.xg-active .bar-index {
    background: url(../img/store/store_sales.png) center 5px no-repeat;
    color: #999;
    background-size: 25px;
}

.bar-shop {
    background: url(../img/store/store_change.png) center 5px no-repeat;
    background-size: 25px;
}

.bar-classify {
    background: url(../img/store/store_record.png) center 5px no-repeat;
    background-size: 25px;
}

.bar-cart {
    background: url(../img/store/store_manager_1.png) center 5px no-repeat;
    color:#000;
    background-size: 25px;
}